/*
Demonstriert eine Onepage-Website auf Basis von REDAXO 5, bootstrap und fullpage.js
Theme Road - Einfache Demo, vertikale Navigation
*/

@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

@import url('../../../css/font-awesome.min.css');
@import url('../../../css/animate.min.css');

@import url('lightcase.css');

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  transition: all 0.3s ease;
  line-height: 1.4;
  color: #fff;
}

.pagewrapper {
  display: block;
  opacity: 0;
}

/* Logo */

.pagelogo {
  position: fixed;
  top: 20px;
  left: 0px;
  z-index: 70;
  background-color: #333;
  transition: all 0.3s ease;
  padding: 20px;
}
.pagelogo:hover {
  background-color: #666;
}

.pagelogo img {
  width: 200px;
  cursor: pointer;
}

/* Main Navigation */

.hamburger {
  display: none;
  position: fixed;
  top: 5px;
  right: 5px;
  z-index: 99;
}
.hamburger:focus {
  outline: none;
}

.mainnav {
  display: none;
  position: fixed;
  top: 115px;
  left: 0px;
  z-index: 70;
  padding: 0;
  margin: 0;
}

.mainnav li {
  list-style: none;
  background-color: #333;
  width: 240px;
  margin-bottom: 1px;
}

.mainnav li a {
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 20px;
  display: block;	
  color: #fff;
  margin: 0;
}

.mainnav li.active {
  background: #666;
}
.mainnav li.active a {
  color: #fff;
}
.mainnav li.active a:hover {
  color: #fff;
}

.mainnav li:hover {
  background: #666;
}
.mainnav li a:hover {
  color: #fff;
}

li.mainnaventry-1 {
  display: none;
}

/* Blocks */
/* Backgrounds will cover all the section */

.section {
  text-align: center;
  min-height: 200px;
  position: relative;
  background-color: #c0c0c0;
  background-size: cover;
}
.section-even {
  background-color: #c0c0c0;
}
.section-odd {
  background-color: #d4d4d4;
}

.slide {
  text-align: center;
  min-height: 200px;
  position: relative;
  background-size: cover;
}

/* Section Background-Images */

.section-1 {
  background-image: url('../img/bg01.jpg');
}
.section-2 {
  background-image: url('../img/bg02.jpg');
}
.section-3 {
  background-image: url('../img/bg03.jpg');
}
.section-4 {
  background-image: url('../img/bg04.jpg');
}
.section-5 {
  background-image: url('../img/bg05.jpg');
}
.section-6 {
  background-image: url('../img/bg06.jpg');
}

/* Content Container */

div.container {
  padding-left: 200px;
  padding-top: 20px;
}

div.container a {
  color: #fff;
}

div.container a.extern {
  padding-left: 22px;
  background: url('../img/extlink.gif') no-repeat left center;
}

div.row {
  margin: 0 10px;
  word-wrap: break-word;
}

.pictext {
  text-align: left;
}

div.col-sm-4,
div.col-sm-6 {
  padding: 0.75em 1em 0.75em 1em;
}

div.col-sm-4 img,
div.col-sm-6 img {
  max-width: 100%;
}

i.fa {
  padding-right: 10px;
}

/* Images */

img.full {
  max-width: 80%;
}

img.content {
  max-width: 50%;
}

.pictext img.content {
  display: block;
  width: 100%;
  max-width: 100%;
}

/* Headlines */

h1, h2, h3 {
  font-family: 'Ubuntu', sans-serif;
  color: #333;
  margin: 0;
  line-height: 1.3em;
  font-weight: 700;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .4);
  margin-bottom: .2em;
}
h1 {
  font-size: 2.0em;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.6em;
}

/* Section Styles */

.section-1 img.full {
  margin-top: 2.0em;
}

.section-2,
.section-4,
.section-6
{
  color: #333;
}
.section-2 h1,
.section-4 h1,
.section-6 h1
{
  color: #333;
}

.section-1,
.section-3,
.section-5
{
  color: #fff;
}
.section-1 h1,
.section-3 h1,
.section-5 h1
{
  color: #fff;
}



.section-2 div.container a,
.section-4 div.container a,
.section-6 div.container a
{
  color: #000;
}

.section-2  div.container a.extern,
.section-4  div.container a.extern,
.section-6  div.container a.extern
{
  padding-left: 22px;
  background: url('../img/extlink2.gif') no-repeat left center;
}

/* fullpage Navigation Dots */

#fp-nav {
  display: none;
}

#fp-nav.right {
  right: 10px;
}
#fp-nav.left {
  left: 10px;
}
.fp-slidesNav.bottom {
  bottom: 10px;
  padding-left: 120px;
}
.fp-slidesNav.top {
  top: 10px;
  padding-left: 120px;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #fff;
}

/* Tooltip Navigation Dots */

#fp-nav ul li .fp-tooltip {
  background: #111;
  padding: 2px 6px;
}

/* Horizontal Slide arrows */

.fp-controlArrow.fp-prev {
  left: 260px;
  border-width: 28.5px 24px 28.5px 0;
  border-color: transparent #fff transparent transparent;
  opacity: .6;
}
.fp-controlArrow.fp-next {
  right: 50px;
  border-width: 32.5px 0 28.5px 24px;
  border-color: transparent transparent transparent #fff;
  opacity: .6;
}
.fp-controlArrow.fp-prev:hover,
.fp-controlArrow.fp-next:hover {
  opacity: 1;
}

/* Page loading animation - https://projects.lukehaas.me/css-loaders/ */

.loader,
.loader:before,
.loader:after {
  background: #333;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #333;
  text-indent: -9999em;
  margin-left: 3px;
  z-index:9999999;
  position: absolute;
  top: 47%;
  left: 50%;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

/* Scoll down indicator arrow - https://codepen.io/nxworld/pen/OyRrGy */

a.arrowdown {
	position: absolute;
	bottom: 0px;
	left: 50%;
	z-index: 60;
	display: inline-block;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	color: #fff;
	text-decoration: none;
	transition: opacity .3s;
  width: 40px;
  height: 40px;
  opacity: 1;
  margin-left: -8px;
  padding-left: 240px;
}
a.arrowdown span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 2px solid #fff;
  border-radius: 100%;
  box-sizing: border-box;
}
a.arrowdown span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
a.arrowdown:hover {
	opacity: .8;
}

/* back to top arrow */

.back-to-top {
  background: none;
  margin: 0;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  z-index: 200;
  display: none;
  text-decoration: none;
  color: #fff;
  opacity: .7;
  transition: all 0.3s ease;
}
.back-to-top:hover {
  color: #333;
  opacity: 1;
}
.back-to-top i {
  font-size: 44px;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */

.hamburger {
  padding: 5px;
  display: none;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  margin-top: 3px;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.6; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 5px;
    background-color: #333;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

  /*
   * 3DXY
   */
.hamburger--3dxy .hamburger-box {
  perspective: 80px; }

.hamburger--3dxy .hamburger-inner {
  transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1), background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }
  .hamburger--3dxy .hamburger-inner::before, .hamburger--3dxy .hamburger-inner::after {
    transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1); }

.hamburger--3dxy.is-active .hamburger-inner {
  background-color: transparent;
  transform: rotateX(180deg) rotateY(180deg); }
  .hamburger--3dxy.is-active .hamburger-inner::before {
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .hamburger--3dxy.is-active .hamburger-inner::after {
    transform: translate3d(0, -10px, 0) rotate(-45deg); }

/* FriendsOfREDAXO Gojira Godzilla */

div.for {
  position: fixed;
  bottom: -20px;
  right: 60px;
  width: 60px;
  height: 60px;
  z-index: 70;
  background-image: url('../img/for.png');
  background-size: cover;
  transition: all 0.3s ease;
  transform: rotate(15deg);
  opacity: .5;
}
div.for:hover {
  opacity: 1;
  bottom: -10px;
  transform: rotate(5deg);
}
div.for a {
  display: block;
  width: 60px;
  height: 60px;
}

@media (max-width: 1066px){
  div.for {
    width: 50px;
    height: 50px;
  }
  div.for a {
    width: 50px;
    height: 50px;
  }
}


/* Theme Switch */
ul.styleswitch {
  position: fixed;
  bottom: 20px;
  left: 20px;
  margin: 0;
  padding: 0;
}
ul.styleswitch li {
  list-style: none;
  float: left;
}
ul.styleswitch li a {
  display: block;
  width: 22px;
  height: 22px;
  margin-right: 10px;
}
ul.styleswitch li a.coffee {
  background:#795548;
}
ul.styleswitch li a.bike {
  background:#0277BD;
}
ul.styleswitch li a.road {
  background:#546E7A;
}
ul.styleswitch li a.minimal {
  background:#9E9E9E;
}

/* Breakpoints / responsive */

.fp-responsive .hamburger {
  display: block;
}

.fp-responsive .pagelogo {
  position: fixed;
  top: 0px;
  left: 0px;
  padding: 10px;
  opacity: .8;
  width:240px;
}

.fp-responsive .mainnav {
  top: 70px;
  left: -240px;
  display: block;
  opacity: .8;
}

.fp-responsive div.container {
  padding-left: 0px;
  padding-top: 60px;
}

.fp-responsive a.arrowdown {
  padding-left: 0px;
}

.fp-responsive .fp-slidesNav.bottom {
  padding-left: 0px;
}
.fp-responsive .fp-slidesNav.top {
  padding-left: 0px;
}


@media (max-width: 1016px){

  .hamburger {
    display: block;
  }

  .mainnav {
    display: none;
  }
  div.container {
    padding-bottom: 4.0em;
  }

  .fp-controlArrow.fp-prev {
    left: 10px;
  }
  .fp-controlArrow.fp-next {
    right: 10px;
  }

}

@media (max-width: 992px){

  body {
    transition: all 0.3s ease;
  }
  div.container {
    padding-bottom: 4.0em;
  }

}

@media (max-width: 768px){

  body {
    transition: all 0.3s ease;
  }

}

@media (max-width: 576px) {
  body {
    transition: all 0.3s ease;
  }
}
