/*
Demonstriert eine Onepage-Website auf Basis von REDAXO 5, bootstrap und fullpage.js
Theme Coffee - Einfache Demo, horizontale Navigation
*/

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');

@import url('../../../css/font-awesome.min.css');

@import url('swipebox.min.css');

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  transition: all 0.3s ease;
  line-height: 1.4;
  color: #111;
}

.pagewrapper {
  display: block;
  opacity: 0;
}

/* Logo */

.pagelogo {
  position: fixed;
  top: 20px;
  left: 25px;
  z-index: 70;
  background-color: #fff;
  transition: all 0.3s ease;
  padding: 20px;
}

.pagelogo img {
  width: 250px;
  cursor: pointer;
}

/* Main navigation */

.hamburger {
  display: none;
  position: fixed;
  top: 5px;
  right: 5px;
  z-index: 99;
}
.hamburger:focus {
  outline: none;
}

.mainnav {
  display: none;
  position: fixed;
  top: 20px;
  right: 15px;
  z-index: 70;
  padding: 0;
  margin: 0;
}

.mainnav li {
  list-style: none;
  float: left;
  margin-right: 10px;
  background: rgba(255,255,255, 0.6);
}

.mainnav li a {
  font-size: .75em;
  font-weight: bold;
  text-decoration: none;
  padding: 5px 10px;
  display: block;	
  color: #444;
  margin: 0;
}

.mainnav li.active {
  background: #b2c85f;
}
.mainnav li.active a {
  color: #fff;
}
.mainnav li.active a:hover {
  color: #fff;
}

.mainnav li:hover {
  background: #b2c85f;
}
.mainnav li a:hover {
  color: #fff;
}

li.mainnaventry-1 {
  display: none;
}

/* Blocks */
/* Backgrounds will cover all the section */

.section {
  text-align: center;
  min-height: 200px;
  position: relative;
  background-color: #485261;
  background-size: cover;
}
.section-even {
  background-color: #485261;
}
.section-odd {
  background-color: #717884;
}

.slide {
  text-align: center;
  min-height: 200px;
  position: relative;
  background-size: cover;
}

/* Section Background-Images */

.section-1 {
  background-image: url('../img/bg01.jpg');
}
.section-2 {
  background-image: url('../img/bg02.jpg');
}
.section-3 {
  background-image: url('../img/bg03.jpg');
}
.section-4 {
  background-image: url('../img/bg04.jpg');
}
.section-5 {
  background-image: url('../img/bg05.jpg');
}
.section-6 {
  background-image: url('../img/bg06.jpg');
}

/* Content Container */

div.container {
  padding: 0;
}

div.container a {
  color: #4a605a;
}

div.container a.extern {
  padding-left: 22px;
  background: url('../img/extlink.gif') no-repeat left center;
}

div.row {
  margin: 0 10px;
  word-wrap: break-word;
}

.pictext {
  background: rgba(255, 255, 255, 0.5);
  text-align: left;
}

.gallery-wrap {
  background: rgba(255, 255, 255, 0.5);
}

div.col-sm-4,
div.col-sm-6 {
  padding: 0.75em 1em 0.75em 1em;
}

div.col-sm-4 img,
div.col-sm-6 img {
  max-width: 100%;
}

i.fa {
  padding-right: 10px;
}

/* Images */

img.full {
  max-width: 80%;
}

img.content {
  max-width: 50%;
}

.pictext img.content {
  display: block;
  width: 100%;
  max-width: 100%;
}

/* Headlines */

h1, h2, h3 {
  color: #fff;
  margin: 0;
  line-height: 1.3em;
  font-weight: 700;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .4);
  margin-bottom: .2em;
}
h1 {
  font-size: 2.0em;
}
h2 {
  font-size: 1.8em;
}
h3 {
  font-size: 1.6em;
}

/* fullpage Navigation Dots */

#fp-nav {
  display: none;
}

#fp-nav.right {
  right: 10px;
}
#fp-nav.left {
  left: 10px;
}
.fp-slidesNav.bottom {
  bottom: 10px;
}
.fp-slidesNav.top {
  top: 10px;
}

#fp-nav ul li,
.fp-slidesNav ul li {
  width: 22px;
  height: 22px;
  margin: 10px;
  transition: all 2.3s ease-out;
}
.fp-slidesNav ul li {
  margin: 5px;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #b2c85f;
  height: 8px;
  width: 8px;
  margin: -4px 0 0 -4px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span{
  height: 16px;
  width: 16px;
  margin: -8px 0 0 -8px;
  border-radius: 100%;
}

#fp-nav ul li:hover a span,
.fp-slidesNav ul li:hover a span{
  width: 14px;
  height: 14px;
  margin: -7px 0px 0px -7px;
}

/* Tooltip Navigation Dots */

#fp-nav ul li .fp-tooltip {
  padding: 2px 6px;
  background: #b2c85f;
}

#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active + .fp-tooltip {
  transition: all 0.3s ease-out;
  width: auto;
  opacity: 1;
}

#fp-nav ul li .fp-tooltip.right {
  right: 25px;
}
#fp-nav ul li .fp-tooltip.left {
  left: 25px;
}

/* Horizontal Slide arrows */

.fp-controlArrow {
  border: 0;
  margin-top: -15px;
  display: inline-block;
  width: 30px;
  height: 30px;
}

.fp-controlArrow.fp-prev {
  left: 60px;
  width: 30px;
  height: 30px;
}

.fp-controlArrow.fp-prev::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  border-left: 4px solid #fff;
  border-top: 4px solid #fff;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transition: all 0.3s ease-out;
  opacity: .7;
  box-shadow: -3px -3px 3px -2px rgba(51,51,51,0.5);
}

.fp-controlArrow.fp-prev:hover::before {
  border-color: #b2c85f;
  opacity: 1;
}

.fp-controlArrow.fp-next {
  right: 60px;
  width: 30px;
  height: 30px;
}

.fp-controlArrow.fp-next::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  border-right: 4px solid #fff;
  border-top: 4px solid #fff;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transition: all 0.3s ease-out;
  opacity: .7;
  box-shadow: 3px -3px 3px -2px rgba(51,51,51,0.5);
}

.fp-controlArrow.fp-next:hover::before {
  border-color: #b2c85f;
  opacity: 1;
}

/* Page loading animation - https://projects.lukehaas.me/css-loaders/ */

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #4a605a;
  font-size: .6em;
  position: absolute;
  top: 47%;
  left: 50%;
  text-indent: -9999em;
  margin-left: -6px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  z-index:9999999;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

/* Scoll down indicator arrow - https://codepen.io/nxworld/pen/OyRrGy */

a.arrowdown {
	position: absolute;
	bottom: 0px;
	left: 50%;
	z-index: 60;
	display: inline-block;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	color: #fff;
	text-decoration: none;
	transition: opacity .3s;
  width: 40px;
  height: 40px;
  opacity: 1;
  margin-left: -12px;
}
a.arrowdown:hover {
	opacity: .8;
}
a.arrowdown:hover span {
  transition: all 0.3s ease;
	border-left: 6px solid #b2c85f;
	border-bottom: 6px solid #b2c85f;
}

a.arrowdown span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 24px;
	height: 24px;
	margin-left: -12px;
	border-left: 6px solid #fff;
	border-bottom: 6px solid #fff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-animation: sdb04 2s infinite;
	animation: sdb04 2s infinite;
	box-sizing: border-box;
  box-shadow: -3px 3px 3px -2px rgba(51, 51, 51, 0.5);
}
@-webkit-keyframes sdb04 {
	0% {
		-webkit-transform: rotate(-45deg) translate(0, 0);
	}
	20% {
		-webkit-transform: rotate(-45deg) translate(-10px, 10px);
	}
	40% {
		-webkit-transform: rotate(-45deg) translate(0, 0);
	}
}
@keyframes sdb04 {
	0% {
		transform: rotate(-45deg) translate(0, 0);
	}
	20% {
		transform: rotate(-45deg) translate(-10px, 10px);
	}
	40% {
		transform: rotate(-45deg) translate(0, 0);
	}
}

/* back to top arrow */

.back-to-top {
  background: none;
  margin: 0;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 50px;
  height: 50px;
  z-index: 200;
  display: none;
  text-decoration: none;
  color: #ffffff;
  opacity: .7;
  transition: all 0.3s ease;
}
.back-to-top:hover {
  color: #b2c85f;
  opacity: 1;
}
.back-to-top i {
  font-size: 44px;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */

.hamburger {
  padding: 5px;
  display: none;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  margin-top: 3px;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.6; }

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 40px;
    height: 5px;
    background-color: #333;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

  /*
   * Squeeze
   */

.hamburger--squeeze .hamburger-inner {
  transition-duration: 0.075s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--squeeze .hamburger-inner::before {
    transition: top 0.075s 0.12s ease, opacity 0.075s ease; }
  .hamburger--squeeze .hamburger-inner::after {
    transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--squeeze.is-active .hamburger-inner {
  transform: rotate(45deg);
  transition-delay: 0.12s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--squeeze.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    transition: top 0.075s ease, opacity 0.075s 0.12s ease; }
  .hamburger--squeeze.is-active .hamburger-inner::after {
    bottom: 0;
    transform: rotate(-90deg);
    transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

/* FriendsOfREDAXO Gojira Godzilla */

div.for {
  position: fixed;
  bottom: -20px;
  right: 60px;
  width: 60px;
  height: 60px;
  z-index: 70;
  background-image: url('../img/for.png');
  background-size: cover;
  transition: all 0.3s ease;
  transform: rotate(15deg);
  opacity: .5;
}
div.for:hover {
  opacity: 1;
  bottom: -10px;
  transform: rotate(5deg);
}
div.for a {
  display: block;
  width: 60px;
  height: 60px;
}

@media (max-width: 1066px){
  div.for {
    width: 50px;
    height: 50px;
  }
  div.for a {
    width: 50px;
    height: 50px;
  }
}


/* Theme Switch */
ul.styleswitch {
  position: fixed;
  bottom: 20px;
  left: 20px;
  margin: 0;
  padding: 0;
}
ul.styleswitch li {
  list-style: none;
  float: left;
}
ul.styleswitch li a {
  display: block;
  width: 22px;
  height: 22px;
  margin-right: 10px;
}
ul.styleswitch li a.coffee {
  background:#795548;
}
ul.styleswitch li a.bike {
  background:#0277BD;
}
ul.styleswitch li a.road {
  background:#546E7A;
}
ul.styleswitch li a.minimal {
  background:#9E9E9E;
}

/* Breakpoints / responsive */

.fp-responsive .hamburger {
  display: block;
}

.fp-responsive .pagelogo {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 70;
  background-color: #fff;
  width: 100%;
  height: 50px;
}

.fp-responsive .pagelogo img {
  width: 200px;
  position: absolute;
  left: 10px;
  top: 10px;
}

.fp-responsive .mainnav {
  top: 50px;
  left: 0px;
  display: block;
  width: 100%;
}

.fp-responsive .mainnav li {
  list-style: none;
  float: left;
  display:block;
  width:  100%;
  height: 3em;
  line-height: 3em;
  background: #fff;
}

.fp-responsive .mainnav li a {
  height: 3em;
  line-height: 3em;
  font-size: 1em;
  margin: 0;
  padding: 0 25px;
}

.fp-responsive .mainnav li.active {
  background: #b2c85f;
}
.fp-responsive .mainnav li.active a {
  color: #fff;
}
.fp-responsive .mainnav li.active a:hover {
  color: #fff;
}

.fp-responsive .mainnav li:hover {
  background: #b2c85f;
}
.fp-responsive .mainnav li a:hover {
  color: #fff;
}

.fp-responsive li.mainnaventry-1 {
  display: none;
}

@media (max-width: 1066px){

  body {
    transition: all 0.3s ease;
    font-size: 17px;
  }

  div.container {
    padding-top: 2.0em;
    padding-bottom: 5.0em;
  }

  .fp-controlArrow.fp-prev {
    left: 10px;
  }
  .fp-controlArrow.fp-next {
    right: 10px;
  }

}

@media (max-width: 992px){

  body {
    transition: all 0.3s ease;
    font-size: 16px;
  }

}

@media (max-width: 768px){

  body {
    transition: all 0.3s ease;
    font-size: 16px;
  }

}

@media (max-width: 576px) {

  body {
    transition: all 0.3s ease;
    font-size: 16px;
  }

}
