/* Variables */

/* Body-Background & Color */
$body-bg: #000;
$text-color: #333;

/* Main-Navigation */
$mainnav-color: #fff;
$mainnav-hover-color: #f00;

/* Backgrounds */


/* Sections */
$section-bg: #222;
$section-bg-even: #222;
$section-bg-odd: #444;

/* Tooltips */
$tooltip-bg: #000;
$tooltip-color: #fff;

/* glightbox-Buttons */
$glightbox-button-bg: rgba(0, 0, 0, 0.6);
$glightbox-button-hover-bg: rgba(235, 160, 0, .8);

/* Overlay */
$overlay-bg: rgba(0, 0, 0, 0.7);

/* Scrollbar */
$scrollbar-track-bg: #999;
$scrollbar-thumb-bg: #222;