/*
Demonstriert eine Onepage-Website auf Basis von REDAXO 5, fullPage.js und UIkit
Theme Bike - Fixe horizontale Navigation, Easing-Effect im fullPage-Modus
*/

/* SCSS-Variablen _theme.scss */
@import "theme";

/*
-------------------------------------------------------------------------------
Fonts, Fontawesome
-------------------------------------------------------------------------------
*/

/* outfit-regular - latin */
@font-face {
    font-display: fallback;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/outfit-v4-latin-regular.woff2') format('woff2'),
        url('../fonts/outfit-v4-latin-regular.woff') format('woff');
}

/* outfit-700 - latin */
@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/outfit-v4-latin-700.woff2') format('woff2'),
        url('../fonts/outfit-v4-latin-700.woff') format('woff');
}

/* outfit-900 - latin
@font-face {
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 900;
    src: local(''),
        url('../fonts/outfit-v4-latin-900.woff2') format('woff2'),
        url('../fonts/outfit-v4-latin-900.woff') format('woff');
}*/

@import url('../../../css/fontawesome.all.min.css');

/*
-------------------------------------------------------------------------------
Loader, Styleswitch, plyr, Hamburger, glightbox, UIkit-Overrides
-------------------------------------------------------------------------------
*/

@import url('loader.min.css');

@import url('../../../css/styleswitch.css');

@import url('../../../css/plyr.css');

@import url('hamburger.min.css');

@import url('../../../css/glightbox.min.css');

@import url('uikit-mods.min.css');

/*
-------------------------------------------------------------------------------
Glightbox & Overlay-Color, Buttons
-------------------------------------------------------------------------------
*/

.glightbox-container .goverlay {
    background: $overlay-bg;
}

.glightbox-clean .gprev,
.glightbox-clean .gnext,
.glightbox-clean .gclose {
    background-color: $glightbox-button-bg;
}

.glightbox-clean .gclose,
.gclose {
    opacity: 1;
    z-index: 9999999;
    min-width: 40px;
    min-height: 40px;
    right: 30px;
}

.glightbox-clean .gprev:hover,
.glightbox-clean .gnext:hover,
.glightbox-clean .gclose:hover {
    background-color: $glightbox-button-hover-bg;
}

.glightbox-clean .gslide-description {
    background-color: $glightbox-desc-bg;
    color: $glightbox-text-color;
    text-align: center;
}

.glightbox-mobile .glightbox-container .gslide-desc {
    color: $glightbox-text-color;
}

.gslide-external {
    max-height: calc(100vh - 80px);
}

/*
-------------------------------------------------------------------------------
Globals
-------------------------------------------------------------------------------
*/

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: $body-font;
    font-size: $font-size;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 1.5em;
    background: $body-bg;
    color: $text-color;
}

.pagewrapper {
    display: block;
    opacity: 0;
}

/*
-------------------------------------------------------------------------------
Main navigation
-------------------------------------------------------------------------------
*/

nav {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    height: 0px;
    width: 100%;
    z-index: 71;
    padding: 0;
    margin: 0;
}

nav .pagelogo {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 70;
    width: 100%;
}

nav .pagelogo img {
    position: absolute;
    top: 15px;
    left: 20px;
    width: 330px;
    cursor: pointer;
}

nav .logosmall {
    height: 50px;
    width: 100%;
    top: 0px;
    left: 0px;
    background-color: $navbar-bg;
}

nav .pagelogo.logosmall img {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 200px;
}

.mainnav {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 70;
    padding: 0;
    margin: 0;
    display: block;
}

.mainnav.navsmall {
    top: 0px;
}

.mainnav li {
    list-style: none;
    float: left;
}

.mainnav li a {
    text-transform: uppercase;
    font-size: .75em;
    font-weight: bold;
    text-decoration: none;
    display: block;
    color: $mainnav-color;
    background: $mainnav-bg;
    margin: 0;
    height: 50px;
    line-height: 50px;
    padding: 0px 10px;
    letter-spacing: 0px;
}

.mainnav li a:hover {
    color: $mainnav-hover-color;
    background: $mainnav-hover-bg;
    transition: all .3s ease-out;
}

.mainnav li.active a {
    color: $mainnav-active-color;
    background: $mainnav-active-bg;
}

.mainnav li.active a:hover {
    color: $mainnav-active-hover-color;
}

/* Kategorie ausblenden */
.mainnav li.hide-mainnav {
    display: none;
}

/* Startseite auf jeden Fall ausblenden */
.mainnav li.mainnaventry-1 {
    display: none;
}

/*
-------------------------------------------------------------------------------
Sections & background-colors
Backgrounds will cover all the section
-------------------------------------------------------------------------------
*/

.section {
    background-color: $section-bg;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.section-odd {
    background-color: $section-bg-odd;
    color: $text-color-odd;
}

.section-even {
    background-color: $section-bg-even;
    color: $text-color-even;
}

.slide {
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* wg. Slide-Effekt beim 1. Slide */
.section-1 {
    overflow: hidden;
}

/*
-------------------------------------------------------------------------------
Section Background-Images
-------------------------------------------------------------------------------
*/

.bodybgimage {
    background:
        linear-gradient(rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0.5)),
        $section-1-bg;
    background-size: cover;
    background-position: center center;
}

.section-1 {
    background:
        linear-gradient(rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0.5)),
        $section-1-bg;
    background-size: cover;
    background-position: center center;
}

.section-2.loaded {
    background:
        linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        $section-2-bg;
    background-size: cover;
    background-position: center center;
}

.section-3.loaded {
    background:
        linear-gradient(rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0.5)),
        $section-3-bg;
    background-size: cover;
    background-position: center center;
}

.section-4.loaded {
    background:
        linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        $section-4-bg;
    background-size: cover;
    background-position: center center;
}

.section-5.loaded {
    background:
        linear-gradient(rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0.5)),
        $section-5-bg;
    background-size: cover;
    background-position: center center;
}

.section-6.loaded {
    background:
        linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        $section-6-bg;
    background-size: cover;
    background-position: center center;
}

.section-13.loaded {
    background:
        linear-gradient(rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0.5)),
        $section-13-bg;
    background-size: cover;
    background-position: center center;
}

/*
-------------------------------------------------------------------------------
Content Container & Content-Elemente
-------------------------------------------------------------------------------
*/

div.uk-container {
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    word-wrap: break-word;
}

.uk-container> :last-child {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.fp-auto-height div.uk-container {
    margin-top: 120px;
    margin-bottom: 120px;
}

div.container {
    padding: 0;
    margin: 0;
    text-align: center;
}

/* Headlines */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $headline-font;
    color: $headline-color-odd;
    text-shadow: $headline-shadow-odd;
    font-weight: 700;
    margin: 0;
    line-height: 1.0em;
    margin: 0 0 20px 0;
    text-align: center;
}

.section-even h1,
.section-even h2,
.section-even h3,
.section-even h4,
.section-even h5,
.section-even h6 {
    color: $headline-color-even;
    text-shadow: $headline-shadow-even;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2.2em;
}

h3 {
    font-size: 1.9em;
}

h4 {
    font-size: 1.6em;
}

h5 {
    font-size: 1.3em;
}

h6 {
    font-size: 1.0em;
}

h1 i {
    font-size: $font-size;
    padding-left: 5px;
    vertical-align: top;
}

/* Links */

.section-odd div.uk-container a, .section-odd div.uk-container a>* {
    color: $link-color-odd !important;
    text-decoration: none;
}

.section-odd div.uk-container a:hover, .section-odd div.uk-container a:hover>* {
    color: $link-hover-color-odd !important;
    text-decoration: underline;
}

.section-even div.uk-container a, .section-even div.uk-container a>* {
    color: $link-color-even !important;
    text-decoration: none;
}

.section-even div.uk-container a:hover, .section-even div.uk-container a:hover>* {
    color: $link-hover-color-even !important;
    text-decoration: underline;
}

.section-odd div.uk-container a.uk-button, .section-even div.uk-container a.uk-button,
.section-odd div.uk-container a.uk-button >*, .section-even div.uk-container a.uk-button >*{
    color: #fff !important;
    text-decoration: none;
}

.section-odd div.uk-container a.uk-button-default, .section-even div.uk-container a.uk-button-default,
.section-odd div.uk-container a.uk-button-default >*, .section-even div.uk-container a.uk-button-default >*{
    color: $text-color-negative !important;
    text-decoration: none;
}

a,
a:active,
a:focus,
a:focus-visible,
:focus,
:focus-visible,
:focus:not([tabindex^='-']) {
    outline: 0;
}

/* Fontawesome icons */

div.uk-container i.fas {
    padding-left: 5px;
    padding-right: 5px;
}

/* Images */

img.full {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    height: auto;
    box-sizing: border-box;
}

img.content {
    display: block;
    width: 100%;
    max-width: 900px;
    margin-bottom: 0;
    margin: 0 auto;
}

/* Bildergalerie */

a.gallery {
    position: relative;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 200px;
    background-color: $deko-color;
    cursor: pointer;
}

a.gallery img.thumbnail {
    min-height: 300px;
    min-width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transition: all .3s ease-out;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}

a.gallery img.thumbnail:hover {
    opacity: .5;
    transition: all .3s ease-out;
    -webkit-transform: translateY(-50%) translateX(-40%);
    transform: translateY(-50%) translateX(-40%);
    cursor: zoom-in;
}

.section-odd .gallery-wrap {
    background: $default-bg-odd;
}

.section-even .gallery-wrap {
    background: $default-bg-even;
}

/* Background-Videos */

.fullpage-bgvideo {
    position: absolute;
    bottom: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    z-index: 0;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    object-fit: cover;
    object-position: center;

}

/* Background Images */

.fullpage-slidebackground {
    position: absolute;
    bottom: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    z-index: 0;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Video */

div.plyr {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    box-shadow: $plyr-shadow;
}

/*
-------------------------------------------------------------------------------
fullPage Navigation Dots
-------------------------------------------------------------------------------
*/

#fp-nav {
    display: none;
}

#fp-nav.right {
    right: 0px;
}

#fp-nav.left {
    left: 0px;
}

#fp-nav ul {
    padding-top: 30px;
}

#fp-nav ul li {
    width: 22px;
    height: 22px;
    margin: 10px;
    padding: 0;
}

#fp-nav ul li a span {
    background: $navidot-bg;
    height: 8px;
    width: 8px;
    margin: -4px 0 0 -4px;
}

#fp-nav ul li a span:hover,
#fp-nav ul li:hover a span {
    width: 14px;
    height: 14px;
    margin: -7px 0px 0px -7px;
    background: $navidot-hover-bg;
}

#fp-nav ul li a.active span {
    height: 16px;
    width: 16px;
    margin: -8px 0 0 -8px;
    border-radius: 100%;
    background: $navidot-active-bg;
}

#fp-nav ul li a.active span:hover,
#fp-nav ul li:hover a.active span {
    height: 16px;
    width: 16px;
    margin: -8px 0 0 -8px;
    background: $navidot-active-hover-bg;
}

/* Dark Dots */

#fp-nav.dark ul li a span {
    background: $navidot-dark-bg;
}

#fp-nav.dark ul li a span:hover,
#fp-nav.dark ul li:hover a span {
    background: $navidot-dark-hover-bg;
}

#fp-nav.dark ul li a.active span {
    background: $navidot-dark-active-bg;
}

#fp-nav.dark ul li a.active span:hover,
#fp-nav.dark ul li:hover a.active span {
    background: $navidot-dark-active-hover-bg;
}

/*
-------------------------------------------------------------------------------
Tooltip Navigation Dots
-------------------------------------------------------------------------------
*/

#fp-nav ul li .fp-tooltip {
    max-width: 250px;
    padding: 5px 10px;
    background: $tooltip-bg;
    border-radius: 2px;
    color: $tooltip-color;
    font-size: $tooltip-font-size;
    line-height: 1.5em;
    display: none;
    transition: all 0.3s ease-out;
}

#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active+.fp-tooltip {
    width: auto;
    opacity: 1;
    display: block;
}

#fp-nav ul li .fp-tooltip.right {
    right: 25px;
}

#fp-nav ul li .fp-tooltip.left {
    left: 25px;
}

/*
-------------------------------------------------------------------------------
Horizontal Slide Navigation dots
-------------------------------------------------------------------------------
*/

.fp-slidesNav {
    position: absolute;
    text-align: center;
}

.fp-slidesNav.bottom {
    bottom: 40px;
}

.fp-slidesNav.top {
    top: 90px;
}

.fp-slidesNav ul li {
    width: 22px;
    height: 22px;
    margin: 10px;
    transition: all 2.3s ease-out;
    padding: 0;
}

.fp-slidesNav ul li {
    margin: 5px;
}

.fp-slidesNav ul li a span {
    background: $navidot-bg;
    height: 8px;
    width: 8px;
    margin: -4px 0 0 -4px;
}

.fp-slidesNav ul li a span:hover,
.fp-slidesNav ul li:hover a span {
    width: 14px;
    height: 14px;
    margin: -7px 0px 0px -7px;
    background: $navidot-hover-bg;
}

.fp-slidesNav ul li a.active span {
    height: 16px;
    width: 16px;
    margin: -8px 0 0 -8px;
    border-radius: 100%;
    background: $navidot-active-bg;
}

.fp-slidesNav ul li a.active span:hover,
.fp-slidesNav ul li:hover a.active span {
    height: 16px;
    width: 16px;
    margin: -8px 0 0 -8px;
    background: $navidot-active-hover-bg;
}

/* Dark Dots */

.fp-slidesNav.dark ul li a span {
    background: $navidot-dark-bg;
}

.fp-slidesNav.dark ul li a span:hover,
.fp-slidesNav.dark ul li:hover a span {
    background: $navidot-dark-hover-bg;
}

.fp-slidesNav.dark ul li a.active span {
    background: $navidot-dark-active-bg;
}

.fp-slidesNav.dark ul li a.active span:hover,
.fp-slidesNav.dark ul li:hover a.active span {
    background: $navidot-dark-active-hover-bg;
}

/*
-------------------------------------------------------------------------------
Horizontal Slide arrows
-------------------------------------------------------------------------------
*/

.fp-controlArrow {
    display: inline-block;
    position: absolute;
    z-index: 100;
    top: 50%;
    margin-top: -30px;
}

.fp-controlArrow.fp-prev {
    left: 50px;
    border-width: 28.5px 24px 28.5px 0;
    border-color: transparent $arrow-color transparent transparent !important;
}

.fp-controlArrow.fp-next {
    right: 50px;
    border-width: 28.5px 0 28.5px 24px;
    border-color: transparent transparent transparent $arrow-color !important;
}

.fp-controlArrow.fp-prev:hover {
    border-color: transparent $arrow-hover-color transparent transparent !important;
}

.fp-controlArrow.fp-next:hover {
    border-color: transparent transparent transparent $arrow-hover-color !important;
}

.fp-controlArrow.dark.fp-prev {
    border-color: transparent $arrow-dark-color transparent transparent !important;
}

.fp-controlArrow.dark.fp-next {
    border-color: transparent transparent transparent $arrow-dark-color !important;
}

.fp-controlArrow.dark.fp-prev:hover {
    border-color: transparent $arrow-dark-hover-color transparent transparent !important;
}

.fp-controlArrow.dark.fp-next:hover {
    border-color: transparent transparent transparent $arrow-dark-hover-color !important;
}

/*
-------------------------------------------------------------------------------
Scoll down/up indicator arrow - https://codepen.io/nxworld/pen/OyRrGy
-------------------------------------------------------------------------------
*/

/* arrow down */
a.arrowdown {
    position: relative;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    transition: opacity .3s;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    margin-top: 20px;
    line-height: 1;
    opacity: 0;
}

a.arrowdown:hover {
    opacity: 1;
}

a.arrowdown span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 30px;
    height: 30px;
    margin-left: -15px;
    border-left: 6px solid $arrowdown-color;
    border-bottom: 6px solid $arrowdown-color;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: arrowdownanimation 3s infinite;
    animation: arrowdownanimation 3s infinite;
    box-sizing: border-box;
    box-shadow: $arrowdown-shadow;
    text-indent:-9999px;
}

a.arrowdown:hover span {
    transition: all 0.3s ease;
    border-left: 6px solid $arrowdown-hover-color;
    border-bottom: 6px solid $arrowdown-hover-color;
}

@-webkit-keyframes arrowdownanimation {
    0% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
    }

    20% {
        -webkit-transform: rotate(-45deg) translate(-10px, 10px);
    }

    40% {
        -webkit-transform: rotate(-45deg) translate(0, 0);
    }
}

@keyframes arrowdownanimation {
    0% {
        transform: rotate(-45deg) translate(0, 0);
    }

    20% {
        transform: rotate(-45deg) translate(-10px, 10px);
    }

    40% {
        transform: rotate(-45deg) translate(0, 0);
    }
}

/* arrow up */
a.arrowup {
    position: relative;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    transition: opacity .3s;
    width: 40px;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 20px;
    line-height: 1;
    opacity: 0;
}

a.arrowup:hover {
    opacity: 1;
}

a.arrowup span {
    position: absolute;
    bottom: -6px;
    left: 50%;
    width: 30px;
    height: 30px;
    margin-left: -15px;
    border-left: 6px solid $arrowup-color;
    border-bottom: 6px solid $arrowup-color;
    -webkit-transform: rotate(+135deg);
    transform: rotate(+135deg);
    -webkit-animation: arrowupanimation 3s infinite;
    animation: arrowupanimation 3s infinite;
    box-sizing: border-box;
    box-shadow: $arrowdown-shadow;
    text-indent:-9999px;
}

a.arrowup:hover span {
    transition: all 0.3s ease;
    border-left: 6px solid $arrowup-hover-color;
    border-bottom: 6px solid $arrowup-hover-color;
}

@-webkit-keyframes arrowupanimation {
    0% {
        -webkit-transform: rotate(+135deg) translate(0, 0);
    }

    20% {
        -webkit-transform: rotate(+135deg) translate(-10px, 10px);
    }

    40% {
        -webkit-transform: rotate(+135deg) translate(0, 0);
    }
}

@keyframes arrowupanimation {
    0% {
        transform: rotate(+135deg) translate(0, 0);
    }

    20% {
        transform: rotate(+135deg) translate(-10px, 10px);
    }

    40% {
        transform: rotate(+135deg) translate(0, 0);
    }
}

/*
-------------------------------------------------------------------------------
back to top arrow
-------------------------------------------------------------------------------
*/

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    z-index: 200;
    display: none;
    text-decoration: none;
    color: $toparrow-color;
    transition: all 0.3s ease;
}

.back-to-top:hover {
    color: $toparrow-hover-color;
}

.back-to-top i {
    font-size: 44px;
}

.back-to-top span {
    display: none;
}

/*
-------------------------------------------------------------------------------
Responsive Modus
-------------------------------------------------------------------------------
*/

/* Navigation */

.fp-responsive .hamburger {
    display: block;
}

.fp-responsive nav {
    position: sticky;
    transition: top 200ms ease-in-out;
}

.fp-responsive .mainnav {
    top: 50px;
    left: 0px;
    display: block;
    width: 100%;
}

.fp-responsive .mainnav.active {
    background-color: $navbar-active-bg;
    transition: all .2s ease-out;
}

.fp-responsive div.pagelogo.active {
    background-color: $navbar-active-bg;
    transition: all .2s ease-out;
}

.fp-responsive .mainnav li {
    list-style: none;
    float: left;
    width: 100%;
    height: auto;
}

.fp-responsive .mainnav a {
    height: auto;
    line-height: 2.2em;
    font-size: 1.4em;
    margin: 0;
    padding: 0;
    text-align: center;
    color: $navbar-link-color;
    background-color: $navbar-link-bg;
}

.fp-responsive .mainnav a:hover {
    color: $navbar-link-hover-color;
    background-color: $navbar-link-hover-bg;
}

.fp-responsive .mainnav li.active a {
    background: $navbar-link-active-bg;
    color: $navbar-link-active-color;
}

.fp-responsive .mainnav li.active a:hover {
    background: $navbar-link-active-hover-bg;
    color: $navbar-link-active-hover-color;
}

/* Uikit-Container */

.fp-responsive div.uk-container {
    margin-top: 100px;
    margin-bottom: 100px;
}

/* Slide Navigation dots */

.fp-responsive .fp-slidesNav.top {
    top: 70px;
}

.fp-responsive .fp-slidesNav.bottom {
    bottom: 40px;
}

.fp-responsive .fp-slidesNav.slidefixed {
    top: 60px;
    bottom: initial;
}

/* Minimum Viewport-Höhe */

.fp-responsive .fp-auto-height-responsive {
    min-height: 100vh;
}

.fp-responsive .fp-auto-height-responsive .slide {
    min-height: 100vh;
}

.fp-responsive .fp-tableCell.slidefixed {
    vertical-align: top;
}

/* Horizontal Slide arrows */

.fp-responsive .fp-controlArrow.fp-prev {
    left: 5px;
}

.fp-responsive .fp-controlArrow.fp-next {
    right: 5px;
}

/*
-------------------------------------------------------------------------------
Breakpoints
-------------------------------------------------------------------------------
*/

@media (orientation: landscape) {}

@media (orientation: portrait) {}

@media (max-width: 1299px) {

    nav .pagelogo img {
        top: 20px;
        left: 20px;
        width: 250px;
    }

}

@media (max-width: 1199px) {

    body {
        font-size: 18px;
    }

}

@media (max-width: 960px) {

    body {
        font-size: 17px;
    }

}

@media (max-width: 768px) {

    body {
        font-size: 16px;
    }

    .back-to-top {
        bottom: 10px;
        right: 10px;
    }
}

@media (max-width: 480px) {

    body {
        font-size: 16px;
    }

}

/*
-------------------------------------------------------------------------------
Testseite - andere Headline-Color bei dunklem Hintergrund
-------------------------------------------------------------------------------
*/
.section-odd div.slide-13-15 h2, .section-odd .slide-13-9 h2, .section-odd .slide-13-20 h2 {
    color: $headline-color-even;
    text-shadow: $headline-shadow-even;
}

/*
-------------------------------------------------------------------------------
Interner Content in der glightbox
-------------------------------------------------------------------------------
*/

body.lightboxcontent {
    height: auto;
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
    background-color: $lightboxcontent-bg;
}

section.lightboxcontent {
    min-height: 100vh;
    width: 100vw;
    max-width: 100vw;
    display: table;
}

section.lightboxcontent div.lightboxcontent{
    padding-top: 80px;
    padding-bottom: 80px;
    display: table-cell;
    vertical-align: middle;
}

section.lightboxcontent h2 {
    color: $headline-color-even;
    text-shadow: $headline-shadow-even;
}

section.lightboxcontent .uk-card {
    background-color: $uk-bg-default-even !important;
}

section.lightboxcontent a {
    color: $link-color-even !important;
}

@media (max-width: 768px) {
    section.lightboxcontent {
        display: block;
    }
    section.lightboxcontent div.lightboxcontent{
        padding-top: 40px;
        padding-bottom: 40px;
        display: block;
    }
}
