/* Fonts */

$body-font: Arial, sans-serif;
$headline-font: Arial, sans-serif;

/* Body-Background & Color */

$body-bg: #d4d4d4;
$text-color: #333;
$text-color-negative: #fff;

$font-size: 19px;

/* Decoration-Color */

$deko-color: rgba(255, 170, 0, 1);

/* Text colors */

$text-muted: #888;
$text-primary: rgba(255, 170, 0, 1);
$text-secondary: #333;
$text-success: #0a0;
$text-warning: #d90;
$text-danger: #d00;

/* Headlines */

$headline-color: #333;

/* Sections */

$section-bg: #f0f0f0;
$section-bg-odd: #f0f0f0;
$section-bg-even: #d4d4d4;

/* Prev/Next-Arrows */

$arrow-color: rgba(51, 51, 51, 1);
$arrow-hover-color: rgba(128, 128, 128, 1);

/* Up/Down-Arrows */

$arrowup-color: rgba(51, 51, 51, 1);
$arrowup-hover-color: rgba(128, 128, 128, 1);
$arrowdown-color: rgba(51, 51, 51, 1);
$arrowdown-hover-color: rgba(128, 128, 128, 1);

/* Tooltips */

$tooltip-font-size: 12px;
$tooltip-bg: #000;
$tooltip-color: #fff;

/* plyr */

$plyr-shadow: 0 14px 25px rgba(0, 0, 0, .5);

/* UIkit Backgrounds */

$uk-bg-default: rgba(255, 255, 255, .8);

/* lighboxcontent */

$lightboxcontent-bg: rgba(212, 212, 212, 1);
