/*
Demonstriert eine Onepage-Website auf Basis von REDAXO 5, fullPage.js und UIkit
Theme Minimal - Basis für Entwickler (minimale CSS / JavaScript-Definitionen)
*/

/* SCSS-Variablen _theme.scss */
@import "theme";

/*
-------------------------------------------------------------------------------
Fonts, Fontawesome
-------------------------------------------------------------------------------
*/

@import url('../../../css/fontawesome.all.min.css');

/*
-------------------------------------------------------------------------------
Loader, Styleswitch, plyr, Hamburger, UIkit-Overrides
-------------------------------------------------------------------------------
*/

/* Page loading animation */

.loader {
    position: absolute;
    top: 50%;
    left: 48%;
}

@import url('../../../css/styleswitch.css');

@import url('../../../css/plyr.css');

/* Hamburger */

.hamburger {
    display: none;
    position: fixed;
    top: 20px;
    right: 10px;
    z-index: 99;
    width: 40px;
    height: 40px;
}

.hamburger:focus {
    outline: none;
}

@import url('uikit-mods.min.css');

/*
-------------------------------------------------------------------------------
Globals
-------------------------------------------------------------------------------
*/

html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: $body-font;
    font-size: $font-size;
    line-height: 1.5em;
    background: $body-bg;
    color: $text-color;
}

.pagewrapper {
    display: block;
    opacity: 0;
}

/*
-------------------------------------------------------------------------------
Main navigation
-------------------------------------------------------------------------------
*/

nav .pagelogo {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 70;
}

nav .pagelogo img {
    width: 250px;
    cursor: pointer;
}

/* Main Navigation */

.mainnav {
    position: fixed;
    top: 20px;
    right: 60px;
    z-index: 70;
    padding: 10px;
    margin: 0;
    width: 200px;
    text-align: center;
    background: #fff;
    border: solid 1px #333;
}

.mainnav li {
    list-style: none;
}

.mainnav li a {
    text-decoration: none;
}

.mainnav li.active {
    font-weight: bold;
}

/* Kategorie ausblenden */
.mainnav li.hide-mainnav {
    display: none;
}

/* Startseite auf jeden Fall ausblenden */
.mainnav li.mainnaventry-1 {
    display: none;
}

/*
-------------------------------------------------------------------------------
Sections & background-colors
Backgrounds will cover all the section
-------------------------------------------------------------------------------
*/

.section {
    background-color: $section-bg;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.section-odd {
    background-color: $section-bg-odd;
}

.section-even {
    background-color: $section-bg-even;
}


.slide {
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*
-------------------------------------------------------------------------------
Content Container & Content-Elemente
-------------------------------------------------------------------------------
*/

div.uk-container {
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    word-wrap: break-word;
}

.uk-container> :last-child {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

div.container {
    padding: 0;
    margin: 0;
    text-align: center;
}

/* Headlines */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $headline-font;
    color: $headline-color;
    font-weight: bold;
    line-height: 1.0em;
    margin: 0 0 20px 0;
    text-align: center;
}

h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 2.0em;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.6em;
}

h5 {
    font-size: 1.2em;
}

h6 {
    font-size: 1.0em;
}

/* Links */

div.uk-container a {
    text-decoration: none;
}

div.uk-container a:hover {
    text-decoration: underline;
}

a,
a:active,
a:focus,
a:focus-visible,
:focus,
:focus-visible,
:focus:not([tabindex^='-']) {
    outline: 0;
}

/* Fontawesome icons */

div.uk-container i.fas {
    padding-left: 5px;
    padding-right: 5px;
}

/* Images */

img.full {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    height: auto;
    box-sizing: border-box;
}

img.content {
    display: block;
    width: 100%;
    max-width: 900px;
    margin-bottom: 0;
    margin: 0 auto;
}

/* Bildergalerie */

a.gallery {
    position: relative;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 200px;
    background-color: $deko-color;
    cursor: pointer;
}

a.gallery img.thumbnail {
    min-height: 300px;
    min-width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transition: all .3s ease-out;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}

a.gallery img.thumbnail:hover {
    opacity: .5;
    transition: all .3s ease-out;
    -webkit-transform: translateY(-40%) translateX(-50%);
    transform: translateY(-40%) translateX(-50%);
    cursor: zoom-in;
}

/* UIkit-Slideshow */

.uk-slideshow-items img {
    cursor: pointer;
    width: 100%;
    max-width: 900px;
    max-height: 450px;
}

.uk-slideshow-arrow {
    color: $deko-color;
}

.uk-slideshow-arrow:hover {
    color: darken($deko-color, 5);
}

/* Background-Videos */

.fullpage-bgvideo {
    position: absolute;
    bottom: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    z-index: 0;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    object-fit: cover;
    object-position: center;

}

/* Background Images */

.fullpage-slidebackground {
    position: absolute;
    bottom: 0;
    top: 0;
    width: 100vw;
    height: 100%;
    z-index: 0;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* Video */

div.plyr {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    box-shadow: $plyr-shadow;
}

/*
-------------------------------------------------------------------------------
fullPage Navigation Dots
-------------------------------------------------------------------------------
*/

#fp-nav.right {
    right: 5px;
}

#fp-nav.left {
    left: 5px;
}

/*
-------------------------------------------------------------------------------
Tooltip Navigation Dots
-------------------------------------------------------------------------------
*/

#fp-nav ul li .fp-tooltip {
    max-width: 250px;
    padding: 5px 10px;
    background: $tooltip-bg;
    border-radius: 2px;
    color: $tooltip-color;
    font-size: $tooltip-font-size;
    line-height: 1.5em;
    margin-top: -5px;
}

#fp-nav ul li:hover .fp-tooltip,
#fp-nav.fp-show-active a.active+.fp-tooltip {
    width: auto;
    opacity: 1;
    display: block;
}

#fp-nav ul li .fp-tooltip.right {
    right: 25px;
}

#fp-nav ul li .fp-tooltip.left {
    left: 25px;
}

/*
-------------------------------------------------------------------------------
Horizontal Slide Navigation dots
-------------------------------------------------------------------------------
*/

.fp-slidesNav {
    position: absolute;
    text-align: center;
}

.fp-slidesNav.bottom {
    bottom: 40px;
}

.fp-slidesNav.top {
    top: 90px;
}

/*
-------------------------------------------------------------------------------
Horizontal Slide arrows
-------------------------------------------------------------------------------
*/

.fp-controlArrow {
    display: inline-block;
    position: absolute;
    z-index: 100;
    top: 50%;
    margin-top: -30px;
}

.fp-controlArrow.fp-prev {
    left: 50px;
    border-width: 28.5px 24px 28.5px 0;
    border-color: transparent $arrow-color transparent transparent;
}

.fp-controlArrow.fp-next {
    right: 50px;
    border-width: 28.5px 0 28.5px 24px;
    border-color: transparent transparent transparent $arrow-color;
}

.fp-controlArrow.fp-prev:hover {
    border-color: transparent $arrow-hover-color transparent transparent !important;
}

.fp-controlArrow.fp-next:hover {
    border-color: transparent transparent transparent $arrow-hover-color !important;
}

/*
-------------------------------------------------------------------------------
Scoll down/up indicator arrow
-------------------------------------------------------------------------------
*/

a.arrowdown {
    position: relative;
    z-index: 60;
    display: inline-block;
    border: 0 solid transparent;
    border-left-width: 25px;
    border-right-width: 25px;
    border-top: 25px solid $arrowdown-color;
}

a.arrowdown:hover {
    border-top: 25px solid $arrowdown-hover-color;
}

a.arrowdown span {
    position: absolute;
    text-indent:-9999px;
}

a.arrowup {
    position: relative;
    z-index: 60;
    display: inline-block;
    border: 0 solid transparent;
    border-left-width: 25px;
    border-right-width: 25px;
    border-bottom: 25px solid $arrowup-color;
}

a.arrowup:hover {
    border-bottom: 25px solid $arrowup-hover-color;
}

a.arrowup span {
    position: absolute;
    text-indent:-9999px;
}

/*
-------------------------------------------------------------------------------
Responsive Modus
-------------------------------------------------------------------------------
*/

/* Navigation */

.fp-responsive .hamburger {
    display: block;
}

/* Uikit-Container */

.fp-responsive div.uk-container {
    margin-top: 100px;
    margin-bottom: 100px;
}

/* Minimum Viewport-Höhe */

.fp-responsive .fp-auto-height-responsive {
    min-height: 100vh;
}

.fp-responsive .fp-auto-height-responsive .slide {
    min-height: 100vh;
}

.fp-responsive .fp-tableCell.slidefixed {
    vertical-align: top;
}

/* Horizontal Slide arrows */

.fp-responsive .fp-controlArrow.fp-prev {
    left: 10px;
}

.fp-responsive .fp-controlArrow.fp-next {
    right: 10px;
}

/*
-------------------------------------------------------------------------------
Breakpoints
-------------------------------------------------------------------------------
*/

@media (orientation: landscape) {}

@media (orientation: portrait) {}


@media (max-width: 1199px) {

    body {
        font-size: 18px;
    }

}

@media (max-width: 960px) {

    body {
        font-size: 17px;
    }

}

@media (max-width: 768px) {

    body {
        font-size: 16px;
    }

}

@media (max-width: 480px) {

    body {
        font-size: 16px;
    }

}

/*
-------------------------------------------------------------------------------
Interner Content in der glightbox
-------------------------------------------------------------------------------
*/

body.lightboxcontent {
    height: auto;
    width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
    background-color: $lightboxcontent-bg;
}

section.lightboxcontent {
    min-height: 100vh;
    width: 100vw;
    max-width: 100vw;
    display: table;
}

section.lightboxcontent div.lightboxcontent{
    padding-top: 80px;
    padding-bottom: 80px;
    display: table-cell;
    vertical-align: middle;
}

@media (max-width: 768px) {
    section.lightboxcontent {
        display: block;
    }
    section.lightboxcontent div.lightboxcontent{
        padding-top: 40px;
        padding-bottom: 40px;
        display: block;
    }
}
